follower:
  controller_manager:
    ros__parameters:
      update_rate: 100

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      forward_controller:
        type: forward_command_controller/ForwardCommandController

      trajectory_controller:
        type: joint_trajectory_controller/JointTrajectoryController

  trajectory_controller:
    ros__parameters:
      joints:
        - shoulder_pan
        - shoulder_lift
        - elbow_flex
        - wrist_flex
        - wrist_roll
        - gripper
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity

      state_publish_rate: 50.0
      action_monitor_rate: 20.0

      allow_partial_joints_goal: false
      open_loop_control: false

      constraints:
        stopped_velocity_tolerance: 0.01

  forward_controller:
    ros__parameters:
      joints:
        - shoulder_pan
        - shoulder_lift
        - elbow_flex
        - wrist_flex
        - wrist_roll
        - gripper
      interface_name: position
